//@import "~@skybonds/ui-styles/styles/common/variables"

.reports
  position: fixed
  left: 0
  bottom: 0
  z-index: 10000
  display: flex
  height: 320px
  overflow: hidden
  border-top-left-radius: 5px
  border-top-right-radius: 5px







